/*
* {
    border: 1px solid red;
}
*/


:root{
    --color-primary: #44504c;
    --color-secondary: #d0d6d7;
    --color-accent: #6576686f;
    --color-background: #ffffff;
    --color-text-dark: #030202;
    --color-text-light: #ffffff;

    --font-roboto: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 80px 8fr;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.plus {
    font-variation-settings:
    'wght' 400,
  }


/****************** HEADER ******************/

.header {
    background-color: var(--color-primary);
    padding: 0vw 4vw;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 18px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.header-heading {
    color: var(--color-text-light);
    font-size: 2rem;
}

.github-container {
    display: flex;
    justify-content: center;
}

.github-icon {
    transition: transform 0.4s ease-in-out;
}
  
.github-icon:hover {
    transform: rotate(360deg) scale(1.2);
}


/****************** SIDEBAR ******************/

.sidebar {
    background-color: var(--color-secondary);
    padding: 4vw 4vw;
    color: var(--color-text-dark);

    grid-row: 2 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    font-weight: 800;
    font-size: 1.4rem;
}

.nav-todos,
#projects {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

nav {
    padding-left: .7rem;
}

section {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

#add-project{
    color: var(--color-text-dark);
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: flex-end;
}


#add-project>* {
    font-size: .9rem;
    cursor: pointer;
}

/****************** FORMS ******************/

.project-form-input {
    border: none;
    border-radius: .3rem;
    padding: .2rem;
    margin-left: -.2rem;
    font-size: 1rem;
    color: var(--color-text-dark);
    background-color: var(--color-background);
}

#edit-project-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1;
}

input.heading.main.form {
    width: fit-content;
    padding:  .3rem;
}

textarea.sub-heading.main.form {
    height: 2rem;
    font-family: var(--font-roboto);
    padding: .3rem;
}

input[type="submit"] {
    height: 0px;
    width: 0px;
    border: none;
    background-color: none;
    opacity: 0;
    margin: -.5rem;
}

/****************** INTERFACE ******************/

#interface {
    background-color: var(--color-background);
    padding: 4vw 4vw;

    grid-row: 2 / -1;
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

hr {
    border-top: 1.8px solid var(--color-primary);
    width: 100%;
}

.container.title-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sub-heading {
    font-weight: 300;
}

.container-main {
    display: flex;
    align-items: end;
    gap: 1rem;
    justify-content: space-between;
}

.edit-project-icons {
    display: flex;
    gap: .5rem;
    margin-right: 1rem;
}

.todo-main {
    display: flex;
    flex-direction: column;
}



/****************** TO DO ******************/

.todo-container {
    background-color: var(--color-accent);
    padding: .8rem 1rem;
    border-radius: .5rem;
    margin-bottom: .6rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 97%;

}

.todo-date {
    margin-right: 3rem;
}

.todo-icons {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: .5rem;
}

.todo-name {
    margin-right: 1rem;
}

.associated-project {
    font-size: .9rem;
    font-weight: 100;
}

.container-main>.add-project {
    margin-top: 1.4rem;
    margin-right: 1rem;
}